@model Guccho.Models.Student

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-success">Dashboard</h2>

<h2>Welcome @Model.fullName</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sName })
</p>


<div>
    @Html.ActionLink("See available Courses", "Index", "Cours")
</div>

<div>
    @Html.ActionLink("Sign out", "SignOut", "Students")
</div>

<p>
    @ViewBag.details
</p>
