@model Guccho.Models.Student

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout_students.cshtml";
}


<div style="height: 60px; margin-top: 20px; box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75); -webkit-box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75); -moz-box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75);; border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px; " class="container">
    
    <h2>Welcome @Model.fullName</h2>
</div>
<div style=" margin-top: 30px; box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75); -webkit-box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75); -moz-box-shadow: 3px 6px 9px -6px rgba(0,0,0,0.75);; border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px;padding-left:30px;padding-bottom:20px;" class="container">

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.interests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
    


    <p >
        <button type="button" class="btn btn-primary">Edit @Html.ActionLink("Edit", "Edit", new { id = Model.sName })</button>
       
    </p>
    </div>






