@model Guccho.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:700px;padding-left: 120px; padding-top: 50px; padding-right: 50px;padding-bottom:50px; box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); -webkit-box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px;margin-top:15px; " class="container">
   
    <h3>Details</h3>

    <div>
        <h4>Student</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.fullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.interests)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.interests)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.sName }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
