@model IEnumerable<Guccho.Models.Cours>

@{

    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpCookie userRole = Request.Cookies["access"];
    string role = userRole != null ? userRole.Value.Split('=')[1] : "undefined";

}



<h3> Courses for you</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    if (ViewBag.cidList.Contains(item.cId))
    {
        continue;
    }

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.level)
        </td>
        <td>

            @if (role.Equals("student"))
            {
                <div>
                    @Html.ActionLink("Details", "Details", new { id = item.cId }) |
                    @Html.ActionLink("Enroll", "Enroll", "Students", new { id = item.cId }, null)
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Edit", "Edit", new { id = item.cId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.cId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.cId })
                </div>

            }
        </td>
    </tr>
}

</table>

<h3>Your Courses</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.level)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (!ViewBag.cidList.Contains(item.cId))
        {
            continue;
        }

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.cId })
            </td>
        </tr>
    }

</table>
