@model Guccho.Models.Admin

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-success">Dashboard</h2>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>



<p class="text-capitalize text-center">
    <b>
        @Html.ActionLink("Edit", "Edit", new { id = Model.username })
    </b>
</p>

<h2 class="text-center py-5 text-success">Organizations</h2>

<table class="table pd-5">

    <tr>
        <th>
            Organizations Name
        </th>
        <th>
            Organization Address
        </th>
        <th>
            Organization PhoneNumber
        </th>
        <th>
            Organization Mail
        </th>
        <th>
            Organization admin
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.Organizations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Organizations", new { id = item.oID }, null) |
                @Html.ActionLink("Details", "Details", "Organizations", new { id = item.oID }, null) |
                @Html.ActionLink("Delete", "Delete", "Organizations", new { id = item.oID },null)
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Create Organization", "Create", "Organizations")
</div>

<div>
    @Html.ActionLink("Sign out", "SignOut", "Admins")
</div>