@model Guccho.Models.Admin

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div style="width:700px;padding-left: 100px; padding-top: 50px; padding-right: 50px; box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); -webkit-box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); -moz-box-shadow: -1px 0px 44px -3px rgba(0,0,0,0.75); border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px 10px 10px 10px; -moz-border-radius: 10px 10px 10px 10px;margin-top:15px; " class="container">
    <h2>Delete</h2>

    <h4>Are you sure you want to delete this?</h4>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phonenumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phonenumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div style="padding-bottom:10px;"class="form-actions no-color">
                <input style="padding-left:-0px;padding-top:3px;"type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("No", "Index")
            </div>
        }
    </div>
    </div>
